<!DOCTYPE html>

<html>
	<head>
		 <title>Todo</title>
		 <meta charset="utf-8">
		 <link rel="stylesheet" type="text/css" href="todos.css">
	</head>
	<body>
				<section class="todoapp">
					
					
					<header class="header">
						<h1>todos</h1>
								<p v-on:click="addTodo">Add</p>
						
						<input class="new-todo"
							autofocus autocomplete="off"
							placeholder="What needs to be done?"
							v-model="newTodo"
							@keyup.enter="addTodo">
							
							
					</header>
					
					
					<section class="main" v-show="todos.length" v-cloak>
						<input class="toggle-all" type="checkbox" v-model="allDone">
					
						<ul class="todo-list">
						
							<!--
							<li v-for="todo in filteredTodos"
								class="todo"
								:key="todo.id"
								:id="todo.id"
								:class="{ done: todo.done, editing: todo == editedTodo }">
								
								<div class="view">
									<input class="toggle" type="checkbox" v-model="todo.done">
									<label @dblclick="editTodo(todo)">{{ todo.title }}</label>
									<button class="destroy" @click="removeTodo(todo)"></button>
								</div>
								
								<input class="edit" type="text"
									v-model="todo.title"
									v-todo-focus="todo == editedTodo"
									@blur="doneEdit(todo)"
									@keyup.enter="doneEdit(todo)"
									@keyup.esc="cancelEdit(todo)">
							</li>
							-->
							
							
							<my-todo 
								class="todo"
								v-for="(todo, index) in filteredTodos"
								:key="todo.id"
								:id="todo.id"
								:time="todo.time"
								:done="todo.done"
								:title="todo.title"
								:class="{ done: todo.done}">
								
								
							</my-todo>
						</ul>
					</section>
					
					
					<footer class="footer" v-show="todos.length" v-cloak>
						<span class="todo-count">
							<strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
						</span>
						<ul class="filters">
							<li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
							<li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
							<li><a href="#/done" :class="{ selected: visibility == 'done' }">done</a></li>
						</ul>
						<button class="clear-done" @click="removedone" v-show="todos.length > remaining">
							Clear done
						</button>
					</footer>
					
					
				</section>
				
				
				<footer class="info">
					<p>Double-click to edit a todo</p>
					<p>Written by <a href="http://evanyou.me">Evan You</a></p>
					<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
				</footer>
		
		
		
		
		<script type="text/x-template" id="my-todo-template">
			<li
				:class="{ editing: isediting }"
			
			>
				<div class="view">
					<input class="toggle" type="checkbox" v-model="checked">
					<label @dblclick="editTodo()">{{ title }}</label>
					<button class="destroy" @click="removeTodo()"></button>
				</div>
				
				<input class="edit" type="text"
					v-model="title"
					v-todo-focus="false"
					@blur="doneEdit()"
					@keyup.enter="doneEdit()"
					@keyup.esc="cancelEdit()">
			
			
			</li>
		</script>
		
		
		
		
		<script src="vue.min.js"></script>
		<script src="vuex.js"></script>
		<script src="vue-resource.js"></script>
		<script type="text/javascript">
			Vue.config.devtools = true;
			Vue.config.debug = true;
			Vue.config.silent = false;
		
			const store = new Vuex.Store({
				state: {
					todos: [
						{ title: 'Learn Vue.' },
						{ title: 'Do hard things.' }
					]
				},
				mutations: {
					'LOAD_TODOS': function (state, response) {
						console.log(response.body.results)
						state.todos = response.body.results
					},
					'ADD_TODO': function (state, response) {
						state.todos.push(response.body)
					},
					'EDIT_TODO': function (state, response) {
						console.log("EDIT_TODO mutation");
					},
					'REMOVE_TODO': function (state, todo) {
						state.todos.splice(state.todos.indexOf(todo), 1)
					},
					'REMOVE_ALL': function (state) {
						const todos = state.todos
						todos.splice(0, todos.length)
					}
				},
				actions: {
					loadTodos (store) {
						return Vue.http.get('/todos/todos/')
							.then((response) => store.commit('LOAD_TODOS', response))
							.catch((error) => console.error(error))
					},
					addTodo (store, todo) {
						return Vue.http.post('/todos/todos/', todo)
							.then((response) => store.commit('ADD_TODO', response))
							.catch((error) => console.error(error))
					},
					editTodo (store, todo) {
						if (todo && todo.id)
						{
							return Vue.http.patch('/todos/todos/'+todo.id+'/', todo)
								.then((response) => store.commit('EDIT_TODO', response))
								.catch((error) => console.error(error))
						}
					},
					removeTodo (store, todo) {
						return Vue.http.delete('/todos/todos/'+todo.id)
							.then((response) => store.commit('REMOVE_TODO', todo))
							.catch((error) => console.error(error))
					},
					removeAll (store) {
						return Vue.http.delete('/todos/todos/remove_all/')
							.then((response) => store.commit('REMOVE_ALL'))
							.catch((error) => console.error(error))
					}
				}
			})
						
	
			
			// Just a var with a child component to be used locally via vue.components
			var Todo = {
				template: '#my-todo-template',
				
				data: {
					newTodo: '',
					editedTodo: null,
					newTodoTime: '',
					time: '00:00',
					
					isediting: false,
					beforeEditCache: '',
				},
				
				props: [
					"done",
					"title",
					"time",
					"id",
					"isediting",
				],
				
				computed: {
					checked: {
						get () {
							return this.done
						},
						set (value) {
							console.log("done", this)
							this.done = value
							this.$store.dispatch('editTodo', this._props)
						}
					}
				},
				
				methods:{
					removeTodo: function () {
						console.log("remove todo", this, this.id)
						this.$store.dispatch('removeTodo', this)
					},
			
					editTodo: function () {
						console.log("editing todo", this.id)
						this.beforeEditCache = this.title
						this.isediting = true
					},
					doneEdit: function () {
						if (this.isediting)
						{
							console.log("done edit: ", this.id)
							this.isediting = false
							this.beforeEditCache = ''
							
							this.title = this.title.trim()
							
							if (!this.title) {
								this.removeTodo(this)
								return
							}
							
							this.extractTimeFromTitle(this);
							
							app.$store.dispatch('editTodo', this._props)
						}
					},
			
					cancelEdit: function () {
						this.isediting = false
						this.title = this.beforeEditCache
						this.beforeEditCache = ''
						
					},
					
					extractTimeFromTitle: function (todo) {
						if (todo) {
							if (todo && todo.title) {
								var match = todo.title.match(/\d{1,2}:\d{2}/);
							} 
							todo.time = (match && match[0]) || '';
							if (!todo.time)
							{
								// delete todo.time;
								todo.time = '00:00'
							}
							console.log(todo.time)
						}
					},
				
				
				},

			}
			
			
			
			/*
			var STORAGE_KEY = 'todos-vuejs-2.0'
			var todoStorage = {
				fetch: function () {
					var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
					todos.forEach(function (todo, index) {
						todo.id = index
					})
					todoStorage.uid = todos.length
					return todos
				},
				save: function (todos) {
					localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
				}
			}
			*/
			
			// visibility filters
			var filters = {
				all: function (todos) {
					return todos
				},
				active: function (todos) {
					return todos.filter(function (todo) {
						return !todo.done
					})
				},
				done: function (todos) {
					return todos.filter(function (todo) {
						return todo.done
					})
				}
			}
			
			// app Vue instance
			var app = new Vue({
				// app initial state
				data: {
					// todos: todoStorage.fetch(),
					newTodo: '',
					editedTodo: null,
					visibility: 'all',
					newTodoTime: '',
				},
				
				components: {
					"my-todo": Todo,
				},
				
				store: store,
			
				// watch todos change for localStorage persistence
				/*
				watch: {
					todos: {
						handler: function (todos) {
							todoStorage.save(todos)
						},
						deep: true
					}
				},
				*/
			
				// computed properties
				// http://vuejs.org/guide/computed.html
				computed: {
					todos: function () {
						return this.$store.state.todos
					},
					filteredTodos: function () {
						return filters[this.visibility](this.todos)
					},
					remaining: function () {
						return filters.active(this.todos).length
					},
					allDone: {
						get: function () {
							return this.remaining === 0
						},
						set: function (value) {
							this.todos.forEach(function (todo) {
								todo.done = value
							})
						}
					}
				},
			
				filters: {
					pluralize: function (n) {
						return n === 1 ? 'item' : 'items'
					}
				},
			
				// methods that implement data logic.
				// note there's no DOM manipulation here at all.
				methods: {
					addTodo: function () {
						var value = this.newTodo && this.newTodo.trim()
						if (!value) {
							return
						}
						// What the fuck?! Evidently, the main data-model of Todo is stored
						// just as an object being pushed in an array and nowhere else
						var todo = {
							//id: todoStorage.uid++,
							title: value,
							done: false,
							time: ''
						}
						
						this.extractTimeFromTitle(todo)
						
						this.$store.dispatch('addTodo', todo)
	  
						this.newTodo = '';
					},
					
					
/*			
					removeTodo: function (todo) {
						//this.todos.splice(this.todos.indexOf(todo), 1)
						this.$store.dispatch('removeTodo', todo)
					},
			
					editTodo: function (todo) {
						this.beforeEditCache = todo.title
						this.editedTodo = todo
					},
					doneEdit: function (todo) {
						if (!this.editedTodo) {
							return
						}
						this.editedTodo = null
						todo.title = todo.title.trim()
						if (!todo.title) {
							this.removeTodo(todo)
							return
						}
						this.extractTimeFromTitle(todo);
						
						app.$store.dispatch('editTodo', todo)
					},
			
					cancelEdit: function (todo) {
						this.editedTodo = null
						todo.title = this.beforeEditCache
					},
					
*/
					
					
			
					removedone: function () {
						this.todos = filters.active(this.todos)
					},
					
					extractTimeFromTitle: function (todo) {
						if (todo) {
							if (todo && todo.title) {
								var match = todo.title.match(/\d{1,2}:\d{2}/);
							} 
							todo.time = (match && match[0]) || '';
							if (!todo.time)
							{
								delete todo.time;
							}
							console.log(todo.time)
						}
					},
				},
			
				// a custom directive to wait for the DOM to be updated
				// before focusing on the input field.
				// http://vuejs.org/guide/custom-directive.html
				directives: {
					'todo-focus': function (el, binding) {
						if (binding.value) {
							el.focus()
						}
					}
				}
			})
			
			// handle routing
			function onHashChange () {
				var visibility = window.location.hash.replace(/#\/?/, '')
				if (filters[visibility]) {
					app.visibility = visibility
				} else {
					window.location.hash = ''
					app.visibility = 'all'
				}
			}
			
			window.addEventListener('hashchange', onHashChange)
			onHashChange()
			
			// mount
			app.$mount('.todoapp')
			
			app.$store.dispatch('loadTodos')
		</script>
		
		
		
	</body>
</html>